*.[oa]
*.exe
*.out
*~
*.pdf
*.ps
*.png
*.svg
*.zip
*.ppt
*.eps
*.gpd
*.ses
*.man
*.sess
*.session
*.vs
*.gch
*.gif
*.1
*.2
*.log
*.i
*.e
*.aux
*.bmp
*.jpg
*.dvi
*.jpeg
*.JPG
*.vtu
*.vtk
*doxygen*
html-doc
*.nav
*.snm
*.toc
*.nogit
*.msh
*.tmp
*.so
*.bin
*.doc
*.gz
*.ui
*.pyc
